# Ignore node_modules directory
node_modules/

# Ignore build artifacts
public/build/

# Ignore development files
*.svelte.d.ts
*.svelte.js
*.svelte.css

.eslintignore
.eslintrc.cjs

.prettierrc
.pretieriignore

# Ignore editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore version control files
.git/
.gitignore